# Ignore all of /xmonad/, which is mostly compiled scripts and logs.
configs/xmonad/*
# But don't ignore the actual config file.
!configs/xmonad/xmonad.hs

# Macs...
.DS_Store

# Emacs things
\#*#

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
configs/emacs.d/*
*.elc
# But don't ignore these specific locations.
!configs/emacs.d/eshell/alias
!configs/emacs.d/lisp
!configs/emacs.d/snippets
!configs/emacs.d/init.el
!configs/emacs.d/custom.el
!configs/emacs.d/themes